<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #4facee;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- 위치 시작 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true" style="color: white;">
              위치
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/">전체 위치</a></li>
              <li><a class="dropdown-item" href="/shop/customerView/location/1">교내</a></li>
              <li><a class="dropdown-item" href="/shop/customerView/location/2">태평동</a></li>
              <li><a class="dropdown-item" href="/shop/customerView/location/3">복정동</a></li>
            </ul>
          </li>
          <!-- 위치 끝 -->
          <!-- 카테고리 시작 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
              카테고리
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/">전체 카테고리</a></li>
              <li><a class="dropdown-item" href="/shop/customerView/category/1">음식점</a></li>
              <li><a class="dropdown-item" href="/shop/customerView/category/2">카페</a></li>
              <li><a class="dropdown-item" href="/shop/customerView/category/3">헬스장</a></li>
            </ul>
          </li>
          <!-- 카테고리 끝 -->
      </ul>
      <!-- 이 자리에 로그인 버튼 추가 -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/auth/login" style="color: #4facee; background-color: white;  margin-right: 10px;">사업자 로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register" style="color: #4facee; background-color: white;">사업자 등록</a>
        </li>
      </ul>
      <!-- 로그인 버튼 끝 -->
      
    </div>
  </div>
</nav>


